<li class="list-group-item">
  <span class="price">
    <span class="badge"><%= number_to_currency task.price %></span>
  </span>
  <span class="info">
    <%= task.from_address %>, <%= task.from_postal_code %> <i class="glyphicon glyphicon-arrow-right"></i> <%= task.to_address %>, <%= task.to_postal_code %>
  </span>
  <span class="express-interest">
    <% if task.user == current_user %>
      <%= render 'tasks/view_button', task: task %>
    <% elsif task.interested_users.include?(current_user) %>
      <%= render 'tasks/chat_button', task: task %>
    <% else %>
      <%= render 'tasks/express_interest_button', task: task %>
    <% end %>
  </span>
</li>
