<li class="list-group-item">
  <span class="price">
    <span class="badge"><%= number_to_currency task.list_price %></span>
  </span>
  <span class="info">
    <%= task.from_address %>, <%= task.from_postal_code %> <i class="glyphicon glyphicon-arrow-right"></i> <%= task.to_address %>, <%= task.to_postal_code %>
  </span>
  <span class="express-interest">
    <% if task.user == current_user %>
      <%= render 'tasks/status_label', task: task %>
      <%= render 'tasks/view_button', task: task %>

      <% if task.assigned? || task.in_progress? %>
        <%= render 'tasks/owner_chat_button', task: task %>
      <% end %>
    <% elsif task.brand_new? %>
      <% if task.interested_users.include?(current_user) %>
        <%= render 'tasks/chat_button', task: task %>
      <% else %>
        <%= render 'tasks/express_interest_button', task: task %>
      <% end %>
    <% elsif task.assigned? %>
      <% if task.assigned_user == current_user %>
        <%= render 'tasks/accept_button', task: task %>
        <%= render 'tasks/reject_button', task: task %>
        <%= render 'tasks/chat_button', task: task %>
      <% end %>
    <% elsif task.in_progress? %>
      <% if task.assigned_user == current_user %>
        <%= render 'tasks/completion_button', task: task %>
        <%= render 'tasks/chat_button', task: task %>
      <% end %>
    <% end %>
  </span>
</li>
