<% provide(:title, @title) %>

<h1><%= @title %></h1>

<%= form_tag nil, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<p> Sort by </p>
<%= sortable "created_at", "Newest", "DESC"%>
<%= sortable "price", "Price", "DESC" %>

<div class="tasks-index">
  <ul class="list-group">
    <%= render partial: 'tasks/task', collection: @tasks %>
  </ul>
</div>

<%= will_paginate @tasks %>

<%= render 'tasks/completion_form' %>
