<% provide(:title, @title) %>

<h1><%= @title %></h1>

<%= will_paginate @tasks %>

<div class="tasks-index">
  <ul class="list-group">
    <%= render partial: 'tasks/task', collection: @tasks %>
  </ul>
</div>

<%= will_paginate @tasks %>

<%= render 'tasks/completion_form' %>
