<% provide(:title, @title) %>

<div class="header-with-search">
  <h1><%= @title %></h1>

  <%= form_tag nil, method: 'get' do %>
    <%= hidden_field_tag :sort, params[:sort] if params[:sort] %>
    <%= hidden_field_tag :direction, params[:direction] if params[:direction] %>

    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <%= text_field_tag :search, params[:search], class: 'form-control' %>
      </div>
    </div>
  <% end %>
</div>

<p> Sort by </p>
<%= sortable "created_at", "Newest", "DESC"%>
<%= sortable "price", "Price", "DESC" %>

<div class="tasks-index">
  <ul class="list-group">
    <%= render partial: 'tasks/task', collection: @tasks %>
  </ul>
</div>

<%= will_paginate @tasks %>

<%= render 'tasks/completion_form' %>
