<% provide(:title, "New Task") %>

<h1> New Request </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@task) do |f| %>
      <div class="<%= @task.errors[:from_address].any? ? "form-group has-error" : "form-group" %>">
        <%= f.label :from_address, "From Address", class: "control-label" %>
        <%= f.text_field :from_address, class: "form-control" %>

        <% @task.errors.full_messages_for(:from_address).each do |msg| %>
          <p class="text-danger"><%= msg %></p>
        <% end %>
      </div>

      <div class="<%= @task.errors[:from_postal_code].any? ? "form-group has-error" : "form-group" %>">
        <%= f.label :from_postal_code, "From Postal Code", class: "control-label" %>
        <%= f.text_field :from_postal_code, class: "form-control" %>

        <% @task.errors.full_messages_for(:from_postal_code).each do |msg| %>
          <p class="text-danger"><%= msg %></p>
        <% end %>
      </div>

      <div class="<%= @task.errors[:to_address].any? ? "form-group has-error" : "form-group" %>">
        <%= f.label :to_address, "To Address", class: "control-label" %>
        <%= f.text_field :to_address, class: "form-control" %>

        <% @task.errors.full_messages_for(:to_address).each do |msg| %>
          <p class="text-danger"><%= msg %></p>
        <% end %>
      </div>

      <div class="<%= @task.errors[:to_postal_code].any? ? "form-group has-error" : "form-group" %>">
        <%= f.label :to_postal_code, "To Postal Code", class: "control-label" %>
        <%= f.text_field :to_postal_code, class: "form-control" %>

        <% @task.errors.full_messages_for(:to_postal_code).each do |msg| %>
          <p class="text-danger"><%= msg %></p>
        <% end %>
      </div>

      <div class="<%= @task.errors[:to_postal_code].any? ? "form-group has-error" : "form-group" %>">
        <%= f.label :price, class: "control-label" %>
        <%= f.number_field :price, class: "form-control", step: 0.01 %>

        <p class="help-block">
          This amount will be deducted from you account as soon as this task is created.
        </p>

        <% @task.errors.full_messages_for(:price).each do |msg| %>
          <p class="text-danger"><%= msg %></p>
        <% end %>
      </div>

      <%= f.submit "Create my task!", class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
</div>
