<p>
  From: <%= @task.from_address %>, <%= @task.from_postal_code %>
</p>

<p>
  To: <%= @task.to_address %>, <%= @task.to_postal_code %>
</p>

<p>
  Price: <%= number_to_currency @task.list_price %>

  <% if @task.user == current_user %>
    (You are paying <%= number_to_currency @task.price %>)
  <% end %>
</p>

<% if @task.user == current_user %>
  <p>
    Completion token: <code><%= @task.completion_token %></code>
  </p>
<% end %>

<% if @task.user == current_user %>
  <% if @task.brand_new? %>
    <div class="interested-users">
      <ul class="list-group">
        <% @task.interests.includes(:user).sort_by { |interest| interest.user.average_rating }.reverse.each do |interest| %>
          <li class="list-group-item">
            <div class="user-info">
              <span class="user-name">
                <%= link_to interest.user.name, interest.user %>
              </span>

              <%= static_stars(interest.user.average_rating) %>
            </div>

            <div class="buttons">
              <span class="assign-button">
                <%= button_to assign_task_path(@task), method: :post, params: {user_id: interest.user}, class: "btn btn-primary btn-xs" do %>
                  <i class="glyphicon glyphicon-ok"></i>
                  Assign
                <% end %>
              </span>

              <span class="chat-button">
                <%= link_to thread_messages_path(interest), class: "btn btn-info btn-xs" do %>
                  <i class="glyphicon glyphicon-envelope"></i>
                  Chat
                <% end %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% elsif @task.assigned? %>
    Assigned to <%= @task.assigned_user.name %>.
    <%= render 'tasks/owner_chat_button', task: @task %>
  <% elsif @task.in_progress? %>
    <%= @task.assigned_user.name %> is working on this.
    <%= render 'tasks/owner_chat_button', task: @task %>
  <% else %>
    <%= @task.assigned_user.name %> has completed this task.
  <% end %>
<% elsif @task.assigned_user == current_user %>
  <% if @task.assigned? %>
    You are assigned to work on this task.
    <%= render 'tasks/accept_button', task: @task %>
    <%= render 'tasks/reject_button', task: @task %>
    <%= render 'tasks/chat_button', task: @task %>
  <% elsif @task.in_progress? %>
    You are working on this task.
    <%= render 'tasks/chat_button', task: @task %>
  <% else %>
    You have completed this task.
  <% end %>
<% end %>
