<% provide(:title, @user.name) %>

<div class="user-profile">
  <aside class="user-info">
    <%= gravatar_for @user %>
    <h1>
      <%= @user.name %>
      <% if @user.admin? %>
        <span class="badge">Admin</span>
      <% end %>
    </h1>
    <%= static_stars(@user.average_rating) %>
  </aside>

  <div class="reviews-container">

    <% if @user.reviews.any? %>
      <header>
        <h1>
          Reviews (<%= @user.reviews.count %>)
        </h1>

        <% if current_user.can_write_review_for(@user) %>
          <% if current_user.has_written_review_for(@user) %>
            <span class="small">
              <%= link_to "Edit review", edit_user_review_path(@user) %>
            </span>
          <% else %>
            <span class="small">
              <%= link_to "Write a review", new_user_review_path(@user) %>
            </span>
          <% end %>
        <% end %>
      </header>

      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>
