<li class="review">
  <%= link_to gravatar_for(review.owner, size: 50), review.owner %>
  <header>
    <span class="owner h3">
      <%= link_to review.owner.name, review.owner %>
    </span>
    <%= static_stars(review.rating) %>
  </header>
  <p class="comment"><%= review.comment %></p>
  <p class="timestamp">
    Posted <%= time_ago_in_words(review.updated_at) %> ago.
  </p>
</li>
