<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "Hedwig", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if logged_in? %>
            <li><%= link_to "New Task", new_task_path %></li>
            <li><%= link_to "All Tasks", all_tasks_path %></li>
            <%= link_to "Logout", sessions_path, method: :delete %>
          <% else %>
            <%= link_to "Login", "#", class: "login-button" %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
